.spinner {
    width: 50px;
    height: 50px;
    border-top: 3px solid lightblue;
    border-radius: 50%;
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
