<ng-container *ngrxLet="vm$ as vm">

    <h1>Welcome!</h1>
    <h2>Here's your feed.</h2>

    <!--Could also split up loading between org and personal, but for the sake of simple markup I left it at one.-->
    <!--Maybe a good live demo example?-->
    <loading-spinner *ngIf="vm.loading; else feed"></loading-spinner>

    <ng-template #feed>
        <h3>Org</h3>
        <post *ngFor="let post of vm.orgFeed" [post]="post"></post>

        <div *ngIf="vm.currentUser">
            <h3>Personal</h3>
            <h4>(We think you'll really like these, {{vm.currentUser.name}}. We picked them just for you!)</h4>
            <post *ngFor="let post of vm.personalFeed" [post]="post"></post>
        </div>
    </ng-template>

</ng-container>
