<ng-container *ngrxLet="{
    user: user$,
    loading: loading$
} as pageData">

    <div class="header">
        <h1 class="header__title" (click)="headerLogoClicked()">NgRx Demo</h1>
        <p *ngIf="pageData.user">Hello, {{pageData.user!.name}}</p>
        <span>
            <button (click)="mockErrorClicked()">(Mock Error)</button>
            <button
                (click)="loginClicked()"
                [disabled]="pageData.loading"
                *ngIf="!pageData.user">
                Login
            </button>
        </span>
    </div>

</ng-container>
